*{
    margin: 0px;
    padding: 0px;
}

 /* header */

header {
    background-color: #2d3190;
    width: 100%;
    height: 4%;
    padding: 30px 0px 30px 0px;
    position: fixed;
    align-items: center;
    z-index: 100;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;

}

.logo-header img {
    position: absolute;
    top: 22px;
    padding-left: 40px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    color: #dddddd;
    list-style: none;
    padding: 0px 100px 0px 100px;
    font-family: "alegreya sans";
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.5px;
    height: 50px;
    display: flex;
    align-items: center;
}

nav ul li:hover {
    color: #4e4e4e;
    background-color: #dddddd;
    border-radius: 25px;
    transition:0.2s ease;
}

.inscribite {
    color: #4e4e4e;
    background-color: #dddddd;
    border-radius: 25px;
}

.inscribite:hover {
    color: #dddddd;
    background-color: #4d8e5f;
}

/* fin header */

body {
    background-color: #dddddd;
    background-image: url(img/fondo-hojas.png);
}

/* inicio 25 años */

.main-25-anios {
    width: 100%;
    height: auto;
    padding: 275px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-25-anios {
    width: 75%;
}

.texto-25-anios {
    width: 50%;
    font-family: "alegreya sans";
    padding-bottom: 30px;    
}

.texto-25-anios h2 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 20px;
}

.fotos-25-anios {
    width: fit-content;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fotos-25-anios img {
    border-radius: 15px;
}

.fotos-25-anios img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* fin 25 años */

/* footer */

footer {
    background-color: #4d8e5f;
    width: 100%;
    height: 15%;
    padding: 20px 0px 20px 0px;
}

footer ul {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

footer ul li {
    display: flex;
    padding: 5px 0px;
    color: #ffffff;
    font-family: "alegreya sans";
    font-size: 0,5em;
}

.mail-footer {
    text-decoration:underline;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.footer-telefono {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-telefono img, .footer-wpp img {
    padding-right: 11px;
}

.footer-wpp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* confirmacion de inscripcion */

.main-confirmacion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 320px 0px 160px 0px;
}

.gracias-confirmacion {
    font-family: "Alegreya Sans";
    color: #2d3190;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gracias-elegirnos {
    font-size: 3em;
}

.solicitud , .esperamos-verte {
    font-size: 1.5em;
    font-style: normal;
}

.colegio-confirmacion {
    font-size: 1.2em;
}

/*index*/

/*carrusel*/
.carrusel_index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel_index h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 85;
    width: 100%;
    height: 700px;
    text-align: center;
    color: #dddddd;
    font-family: "alegreya sans";
    font-size: 7em;
    padding-top: 15px;

}

.carrusel_img {
    background-image: url(img/carrusel-foto-1.jpg);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size: cover;
    animation: carrusel_fotos 15s infinite;
    animation-delay: 2s;
}

@keyframes carrusel_fotos {
    33% {background-image: url(img/carrusel-foto-2.jpg);}
    65% {background-image: url(img/carrusel-foto-3.jpg);}
}

.carrusel_slider_puntos {
    background-image: url(img/puntos_carrusel_index-01.svg);
    height: 21px;
    width: 132px;
    margin-top: 20px;
    animation: carrusel_puntos 15s infinite;
    animation-delay: 2s;
}

@keyframes carrusel_puntos {
    33% {background-image: url(img/puntos_carrusel_index-02.svg);}
    65% {background-image: url(img/puntos_carrusel_index-03.svg);}
}

/*parte estática del ideario*/
.section_ideario {
    height: auto;
    width: 100%;
    padding: 100px 100px 100px 100px ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px
    
}

.ideario {
    width: 45%;
    max-width: 800px;
}
.ideario h3 {
    background-color: #4D8E5F ;
    font-family: "alegreya sans";
    color: #dddddd;
    font-size: 2em;
    padding: 15px ;
    text-align: center;
    border-radius: 20px;
}

.ideario ul {
    margin-top: 27px;
    background-color: #2d3190;
    padding: 56px 87px;
    border-radius: 60px 0px;
}

.ideario ul li {
    font-size: 1.2em;
    font-family: "alegreya sans";
    list-style-type: none;
    color: #dddddd;
    padding-bottom: 20px ;
    max-width: 600px;
    letter-spacing: 0.2px;
}

/* botones del ideario*/
.botones_ideario ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

}

.botones_ideario ul li {
    list-style-type: none;
}
.botones_ideario ul li button {
    background-color: #2d3190;
    padding: 25px 87px;
    color: #dddddd;
    border-radius: 40px 0px;
    text-align: center;
    font-family: "alegreya sans";
    font-weight: 700;
    border: 0px;
    letter-spacing: 0,5px;
    font-size: 1em;
}

.botones_ideario ul li button:hover {
    background-color: #4D8E5F;
    cursor: pointer;
}

/*popups del ideario*/

.popup_maternal, .popup_inicial, .popup_primario, .popup_secundario {
    width: 45%;
    max-width: 800px;
    z-index: 1;
    border: none;
    display: flex;
    position: absolute;
    top: 937px;
    left: 50%;
    display: flex;
    flex-direction: column;
    background-color: #4D8E5F;
    border-radius: 60px 0px;
    display: none;
}

.popup_maternal a, .popup_inicial a, .popup_primario a, .popup_secundario a{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    color: #dddddd;
    font-family: "alegreya sans";
    font-weight: 700;
    letter-spacing: 0.5px;
}

.popup_maternal img, .popup_inicial img, .popup_primario img, .popup_secundario img {
    position: absolute;
    left: 93%;
    top: 4%;
    cursor: pointer;
}

.imagen_maternal {
    background-image: url(img/foto-maternal.jpg);
    width:388px;

}

.imagen_texto_maternal, .imagen_texto_inicial, .imagen_texto_primario, .imagen_texto_secundario {
    display: flex;
    height: 80%;
}

.imagen_texto_maternal ul, .imagen_texto_inicial ul, .imagen_texto_primario ul, .imagen_texto_secundario ul {
    width: 40%;
    padding: 56px 60px 25px 60px;
}

.imagen_texto_maternal ul li, .imagen_texto_inicial ul li, .imagen_texto_primario ul li, .imagen_texto_secundario ul li {
    color: #dddddd;
    font-family: "alegreya sans";
    list-style-type: none;
    padding-bottom: 20px;
}

.imagen_inicial {
    background-image: url(img/foto-jardin.jpg);
    width:388px;
    background-size: cover;
}

.imagen_primario {
    background-image: url(img/foto-primaria.jpg);
    width: 388px;
    background-size: cover;
}

.imagen_secundario {
    background-image: url(img/foto-secundaria.jpg);
    width: 388px;
    background-size: cover;
}

/*parte distincion utn*/

.main-distincion-utn{
	width: 100%;
    height: auto;
    padding: 275px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-distincion-utn {
	width: 75%;
}

.texto-distincion-utn {
	width: 50%;
    font-family: "alegreya sans";
    padding-bottom: 30px;    
}

.texto-distincion-utn h2 {
	font-size: 3em;
    font-weight: 700;
    padding-bottom: 30px;
}

.fondo_verde {
	
}

.container {
	position: relative;
	width: 1459px;
	height: 1021px;
	border-radius: 100px;
	background: #4D8E5F;
}

.slider input {
	visibility: hidden;
	display: none;
}

.buttons {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	button: 50px;
	gap: 10px;
}

.buttons label {
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
	transition: 300ms easy-in-out;
	
}

.buttons label:hover{
	scale: 1.2;
}

.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
.slider input:nth-child(3):checked ~ .buttons label:nth-child(3)
{
	scroll-margin: 1.2;
	width: 40px;
}

.content {
	position: relative;
	width: 300vw;
	display: flex;
	transition: 400ms easy-in-out;
}

.firstslide,.secondslide,.thirdslide {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.firstslide {
	background-image:url("img/certificado-1.jpg")
}