*{
    margin: 0px;
    padding: 0px;
}

 /* header */

 header {
    background-color: #2D3190;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-right: 40px;
}

.logo-header img {
    position: absolute;
    top: 12px;
    left: 2%;
}

ul{
    list-style: none;
    
}

.nav_principal li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    justify-content: center;
    font-family: "alegreya sans"
}

.inicio_nav, .trabajo_nav, .visita_nav, .inscribite {
    color: #DDDDDD;
}

.desplegable a {
    color: #4E4E4E;
}

.inicio_nav:hover {
    background-color: #DDDDDD;
    color: #4E4E4E;
    border-radius: 23px;
    transition:0.2s ease;
}

.trabajo_nav:hover {
    background-color: #DDDDDD;
    color: #4E4E4E;
    border-radius: 23px 23px 0px 0px;
    transition:0.2s ease;
}

.visita_nav:hover {
    background-color: #DDDDDD;
    color: #4E4E4E;
    border-radius: 23px;
    transition:0.2s ease;
}

.inscribite:hover {
    background-color: #4D8E5F;
    color: #DDDDDD;
    border-radius: 23px;
    transition:0.2s ease;
}

.desplegable {
    background-color: #DDDDDD;
    border-radius: 0px 0px 23px 23px;
}

.nav_principal > li {
    float: left;
}

.nav_principal li ul {
    display: none;
    position: absolute;
}

.nav_principal li:hover ul {
    display: block;
}
/* fin header */

body {
    background-color: #dddddd;
    background-image: url(img/fondo-hojas.png);
	background-size: cover;
}

/* inicio 25 años */

.main-25-anios {
    width: 100%;
    height: auto;
    padding: 275px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-25-anios {
    width: 75%;
}

.texto-25-anios {
    width: 50%;
    font-family: "alegreya sans";
}

.texto-25-anios h2 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 20px;
}

.fotos-25-anios {
    width: fit-content;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fotos-25-anios img {
    border-radius: 15px;
}

.fotos-25-anios img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* fin 25 años */

/* footer */

footer {
    background-color: #4d8e5f;
    width: 100%;
    height: 15%;
    padding: 20px 0px 20px 0px;
}

footer ul {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

footer ul li {
    display: flex;
    padding: 5px 0px;
    color: #ffffff;
    font-family: "alegreya sans";
    font-size: 0,5em;
}

.mail-footer {
    text-decoration:underline;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.footer-telefono {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-telefono img, .footer-wpp img {
    padding-right: 11px;
}

.footer-wpp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* confirmacion de inscripcion */

.main-confirmacion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 320px 0px 160px 0px;
}

.gracias-confirmacion {
    font-family: "Alegreya Sans";
    color: #2d3190;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gracias-elegirnos {
    font-size: 3em;
}

.solicitud , .esperamos-verte {
    font-size: 1.5em;
    font-style: normal;
}

.colegio-confirmacion {
    font-size: 1.2em;
}

/*index*/

/*carrusel*/
.carrusel_index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel_index h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 85;
    width: 100%;
    height: 700px;
    text-align: center;
    color: #dddddd;
    font-family: "alegreya sans";
    font-size: 7em;
    padding-top: 15px;

}

.carrusel_img {
    background-image: url(img/carrusel-foto-1.jpg);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size: cover;
    animation: carrusel_fotos 15s infinite;
    animation-delay: 2s;
}

@keyframes carrusel_fotos {
    33% {background-image: url(img/carrusel-foto-2.jpg);}
    65% {background-image: url(img/carrusel-foto-3.jpg);}
}

.carrusel_slider_puntos {
    background-image: url(img/puntos_carrusel_index-01.svg);
    height: 21px;
    width: 132px;
    margin-top: 20px;
    animation: carrusel_puntos 15s infinite;
    animation-delay: 2s;
}

@keyframes carrusel_puntos {
    33% {background-image: url(img/puntos_carrusel_index-02.svg);}
    65% {background-image: url(img/puntos_carrusel_index-03.svg);}
}

/*parte estática del ideario*/
.section_ideario {
    height: auto;
    width: 100%;
    padding: 100px 100px 100px 100px ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px
    
}

.ideario {
    width: 45%;
    max-width: 800px;
}
.ideario h3 {
    background-color: #4D8E5F ;
    font-family: "alegreya sans";
    color: #dddddd;
    font-size: 2em;
    padding: 15px ;
    text-align: center;
    border-radius: 20px;
}

.ideario ul {
    margin-top: 27px;
    background-color: #2d3190;
    padding: 56px 87px;
    border-radius: 60px 0px;
}

.ideario ul li {
    font-size: 1.2em;
    font-family: "alegreya sans";
    list-style-type: none;
    color: #dddddd;
    padding-bottom: 20px ;
    max-width: 600px;
    letter-spacing: 0.2px;
}

/* botones del ideario*/
.botones_ideario ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

}

.botones_ideario ul li {
    list-style-type: none;
}
.botones_ideario ul li button {
    background-color: #2d3190;
    padding: 25px 87px;
    color: #dddddd;
    border-radius: 40px 0px;
    text-align: center;
    font-family: "alegreya sans";
    font-weight: 700;
    border: 0px;
    letter-spacing: 0,5px;
    font-size: 1em;
}

.botones_ideario ul li button:hover {
    background-color: #4D8E5F;
    cursor: pointer;
}

/*popups del ideario*/

.popup_maternal, .popup_inicial, .popup_primario, .popup_secundario {
    width: 45%;
    max-width: 800px;
    z-index: 1;
    border: none;
    display: flex;
    position: absolute;
    top: 937px;
    left: 50%;
    flex-direction: column;
    background-color: #4D8E5F;
    border-radius: 60px 0px;
}

.popup_maternal a, .popup_inicial a, .popup_primario a, .popup_secundario a{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    color: #dddddd;
    font-family: "alegreya sans";
    font-weight: 700;
    letter-spacing: 0.5px;
}

.popup_maternal img, .popup_inicial img, .popup_primario img, .popup_secundario img {
    position: absolute;
    left: 93%;
    top: 4%;
    cursor: pointer;
}

.imagen_maternal {
    background-image: url(img/foto-maternal.jpg);
    width:388px;

}

.imagen_texto_maternal, .imagen_texto_inicial, .imagen_texto_primario, .imagen_texto_secundario {
    display: flex;
    height: 80%;
}

.imagen_texto_maternal ul, .imagen_texto_inicial ul, .imagen_texto_primario ul, .imagen_texto_secundario ul {
    width: 40%;
    padding: 56px 60px 25px 60px;
}

.imagen_texto_maternal ul li, .imagen_texto_inicial ul li, .imagen_texto_primario ul li, .imagen_texto_secundario ul li {
    color: #dddddd;
    font-family: "alegreya sans";
    list-style-type: none;
    padding-bottom: 20px;
}

.imagen_inicial {
    background-image: url(img/foto-jardin.jpg);
    width:388px;
    background-size: cover;
}

.imagen_primario {
    background-image: url(img/foto-primaria.jpg);
    width: 388px;
    background-size: cover;
}

.imagen_secundario {
    background-image: url(img/foto-secundaria.jpg);
    width: 388px;
    background-size: cover;
}

.popup_maternal a, .popup_inicial a, .popup_primario a, .popup_secundario a{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    color: #dddddd;
    font-family: "alegreya sans";
    font-weight: 700;
    letter-spacing: 0.5px;
}

.popup_maternal img, .popup_inicial img, .popup_primario img, .popup_secundario img {
    position: absolute;
    left: 93%;
    top: 4%;
    cursor: pointer;
}

.imagen_maternal {
    background-image: url(img/foto-maternal.jpg);
    width:388px;

}

.imagen_texto_maternal, .imagen_texto_inicial, .imagen_texto_primario, .imagen_texto_secundario {
    display: flex;
    height: 80%;
}

.imagen_texto_maternal ul, .imagen_texto_inicial ul, .imagen_texto_primario ul, .imagen_texto_secundario ul {
    width: 40%;
    padding: 56px 60px 25px 60px;
}

.imagen_texto_maternal ul li, .imagen_texto_inicial ul li, .imagen_texto_primario ul li, .imagen_texto_secundario ul li {
    color: #dddddd;
    font-family: "alegreya sans";
    list-style-type: none;
    padding-bottom: 20px;
}

.imagen_inicial {
    background-image: url(img/foto-jardin.jpg);
    width:388px;
    background-size: cover;
}

.imagen_primario {
    background-image: url(img/foto-primaria.jpg);
    width: 388px;
    background-size: cover;
}

.imagen_secundario {
    background-image: url(img/foto-secundaria.jpg);
    width: 388px;
    background-size: cover;
}

/*parte distincion utn*/

.main-distincion-utn{
	width: 100%;
    height: auto;
    padding: 275px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-distincion-utn {
	width: 75%;
}

.texto-distincion-utn {
	width: 50%;
    font-family: "alegreya sans";
    padding-bottom: 30px;    
}

.texto-distincion-utn h2 {
	font-size: 3em;
    font-weight: 700;
    padding-bottom: 30px;
}

.outer-container {
	background-color: #4D8E5F;
	padding: 80px;
	margin: 30px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.slider-box {
	max-width: 1292px;
	overflow: hidden;
}

.slider-box ul {
	display: flex;
	width: 300%;
	animation: slide 20s infinite ease-in-out;
}

@keyframes slide {
	0% { margin-left: 0%; }
	20% { margin-left: 0%; }
	
	25% { margin-left: -100%; }
	45% { margin-left: -100%; }
	
	50% { margin-left: -200%; }
	70% { margin-left: -200%; }
	
	75% { margin-left: 0%; }
	100% { margin-left: 0%; }

/* trabajos - feria de ciencias */

.main-feria {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 320px 0px 160px 0px;
}

.videos {
    font-family: Alegreya Sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.videos h2 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 60px;
}

.videos p {
    font-size: 1.2em;
    font-weight: 550;
    padding-bottom: 20px;
}

.videos h3 {
    padding-top: 20px;
    font-size: 1.3em;
}

.video-2 p {
    padding-bottom: 0px;
}

.video-2 h3 {
    padding-top: 30px;
}
.main-formulario {
	height: auto;
	padding: 10% 10% 10% 20%;
	font-family: Alegreya Sans;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}
.main-formulario h2{
	font-size: 4em;
}
.main-formulario h3{
	font-size: 2.4em;
	color: white;
	display: block;
	height: 100px;
}
.main-formulario p{
	font-family: Alegreya Sans;
	color: white;
	font-size: 28px;;
	font-weight: 500;
}
form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	gap: 60px;
	padding-top: 3%;
}
.formizq{
	padding: 110px 120px;
	display: flex;
	flex-direction: column;
	background-color:#2D3190;
	border-radius: 115px 0px;
	gap: 10px;
	width: 35%;
	min-width: 500px;
}
.formder{
	padding: 110px 120px;
	display: flex;
	flex-direction: column;
	background-color:#2D3190;
	border-radius: 0px 115px;
	gap: 10px;
	width: 35%;
	min-width: 500px;
}
label{
	font-family: Alegreya Sans;
	color: white;
	font-size: 28px;;
	font-weight: 500;
}
input{
	height: 25px;
	border: none;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 15px 0px;
}
.button-form{
	height: 10%;
	font-family: Alegreya Sans;
	font-weight: 700;
	font-size: 25px;
	background-color:#4D8E5F;
	color: white;
	border-radius: 43px 0px;
}
.turnosol{
	display: flex;
	flex-direction: row;
	padding: 20px 20px 5px 30px;
	gap: 20px;
}
.nivelsol{
	display: flex;
	flex-direction: row;
	padding: 20px 20px 5px 30px;
	gap: 20px;	
}
.modalidadsol{
	display: flex;
	flex-direction: row;
	padding: 20px 20px 5px 30px;
	gap: 20px;	
}
input[type=submit]{
	display: block;
	margin: 50px 0px 30px;
}